* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
}

body {
  background-image: linear-gradient(
    rgba(239, 189, 198, 0.94),
    rgba(109, 101, 208, 0.936)
  );
  background-color: blue;
  min-height: 100vh;

}

#odei_header {
  background-color: #7F569F40;
/*  margin-bottom: 20vh;*/
}

.form_div {
  background-color: #7F569F40;
  border: 1px solid blue;
  padding: 5.5%;
}



.button{
  background-color:royalblue;
  border-radius: 4px;
  color: white;
  border:none;
  margin:5px;
  padding:5px


}
